server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/todoing
    username: root
    password: 1234


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

      logging:
        level:
          org:
            hibernate:
              SQL: debug
              type: trace
          com:
            todoing: debug

  jwt:
    secret: 6zrztgF4VfDrqVS4IlVMJMiJmJ6DoH2x
    token:
      access-token-expire-time: 3600000
      refresh-token-expire-time: 86400000

    data:
      redis:
        host: localhost
        port: 6379


kakao:
  client_id: bf434bec9688a6f963f123ec38ae702b
  redirect_uri: http://localhost:8080/auth/login/kakao

