server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  ai:
    model:
      chat:
        options:
          model: gpt-3.5-turbo
    openai:
      api-key: ${OPENAI_API_KEY}

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    hikari:
      maximum-pool-size: 10




  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

      logging:
        level:
          org:
            hibernate:
              SQL: debug
              type: trace
          com:
            todoing: debug

  jwt:
    secret: ${JWT_SECRET}
    token:
      access-token-expire-time: ${JWT_ACCESS_EXPIRE}
      refresh-token-expire-time: ${JWT_REFRESH_EXPIRE}

    data:
      redis:
        host: redis
        port: 6379


kakao:
  client_id: ${KAKAO_CLIENT_ID}
  redirect_uri: ${KAKAO_REDIRECT_URI}

kakaopay:
  cid: ${KAKAOPAY_CID}
  secret_key: ${KAKAOPAY_SECRET_KEY}
  redirect:
    whitelist:
      - https://todooungi.netlify.app/payment
      - http://localhost:5173/payment
      - http://localhost:8080/payment
