<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Console -->
    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%highlight(%-5level)] [%X{requestId}] %logger{36} - %msg%n"/>

    <!-- MDC FIELD -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!-- Local -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Dev -->
    <springProfile name="dev">
        <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/dev.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/dev.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>3</maxHistory>
            </rollingPolicy>
            <!-- JSON 포맷 로그 (logstash-encoder 필요) -->
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>

    <!-- Prod -->
    <springProfile name="prod">
        <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/prod.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/prod.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE_JSON"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
